{% extends "base.html" %}
{% block content %}

<div class="page-container">
    <div class="form-wrapper">
        <div class="card-custom">
            <h4>{{ product.jan_code|default:"Add Product" }}</h4>

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">Save</button>
                <a href="{% url 'product_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
